.favorites {
    min-height: 100vh;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 4.5em;
    text-align: center;
    padding: 24px 0;
}

.msg {
    font-family: 'Raleway', sans-serif;
    font-size: 2.5em;
    text-align: center;
    padding: 24px 0;
}

.search {
    display: flex;
    justify-content: center;
    margin: 48px auto 0 auto;
    border: none;
    color: white;
    background-color: #50423A;
    padding: 12px 24px;
    border-radius: 24px;
}

.place_item {
    min-height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}

.place_item .love_btn {
    border: none;
    background-color: transparent;
}

.place_item .place_name {
    font-family: 'Raleway', sans-serif;
    text-shadow: #e0e0e0 1px 1px 0, 5px 2px 10px #FFF9F9;

}

.map {
    min-height: 100vh;
}