header {
    background-color: rgb(216, 191, 172);
    min-height: 10vh;
}

header .logo img:hover {
    cursor: pointer;
}

header nav ul li {
    border-right: 2px solid black;
}

header nav ul li:last-of-type {
    border-right: none;
}

header nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0 16px;
    font-size: 1.5em;
    font-family: 'Manrope', sans-serif;
    transition: 800ms;
}

header nav ul li a:hover {
    transform: scale(0.9);
}

.profile {
    height: 55vh;
    overflow-y: hidden;
}

.profile_btn {
    color: black;
}

.profile .loginClient {
    min-height: 55vh;
    padding: 8px;
    width: 400px;
    background-attachment: unset;
    background-size: cover;
    background-position: center;
}

.profile .loginClient h1 {
    font-size: 3em;
    margin-top: 24px;
}

.profile .loginClient form {
    width: 100%;
    padding: 24px;
}