.postItem {
    background-color: rgb(252, 240, 228);
    border-radius: 24px;
}

.postItem .postInfo {
    border-right: 4px solid rgb(78, 67, 59);
}

.postItem .profile_icon {
    font-size: 5em;
    color: rgb(78, 67, 59);
}

/* .postItem .profile-pic {
    border-radius: 50%;
    height: 60px;
    width: 60px;
} */

.postItem .postPic {
    min-height: 150px;
    background-color: rgb(78, 67, 59);
    color: white;
}

.postItem .btnLike{
    background-color: inherit;
    border: none;
    padding: 0;

}

/* posts list */
.postInputs {
    background-color: rgb(183, 183, 166);
    border-radius: 48px;
    padding: 8px 12px;
    /* max-width: 55%; */
    border: none;
    color: white;

}

.searchBtn {
    padding: 12px;
    background-color: rgb(78, 67, 59);
    border-radius: 50%;
    border: none;
    margin-left: 12px;
}

.searchBtn .search_icon {
    color: white;
    font-size: 2em;
}

/* posts comments */
.comment {
    margin-top: 12px;
}

.profile-pic-comment {
    /* border-radius: 50%;
    height: 40px;
    width: 40px; */
    padding: 0;
}


@media(max-width:768px) {
    .postItem .postInfo {
        border-right: none;
    }
}