header {
    position: unset;
}

.sign-up {
    min-height: 90vh;
    flex-wrap: wrap;
}

.sign-up h1 {
    color: rgb(117, 100, 89);
    font-family: 'Raleway', sans-serif;
    font-size: 7em;
    text-align: center;
    text-shadow: 7px 7px 9px rgba(83, 74, 74, 0.651);
}



.sign-up form .input-signIn {
    margin-bottom: 18px;
    padding: 18px 32px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.537);
    border-radius: 24px;
    font-size: 1.5em;
}

.sign-up form .sign-up_btn {
    width: 40%;
    padding: 18px 48px;
    border-radius: 24px;
    border: none;
    margin: 12px auto;
    background-color: rgb(117, 100, 89);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}