header {
    position: unset;
}

.updateAccount {
    min-height: 90vh;
    flex-wrap: wrap;
    background-position: center;
    background-size: cover;

}

.updateAccount h2 {
    padding: 48px 0;
    color: rgb(117, 100, 89);
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    text-align: center;
    text-shadow: 7px 7px 9px rgba(83, 74, 74, 0.651);
}



.updateAccount form input {
    margin-bottom: 18px;
    padding: 18px 32px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.537);
    border-radius: 24px;
    font-size: 1.5em;
}

.updateAccount form .update_btn {
    width: 40%;
    padding: 18px 48px;
    border-radius: 24px;
    border: none;
    margin: 12px auto;
    background-color: rgb(117, 100, 89);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}

.password_btn {
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 22px 38px;
    border-radius: 24px;
    border: none;
    margin: 24px auto;
    background-color: rgb(117, 100, 89);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}


@media(max-width:992px) {
    .updateAccount form .update_btn {
        padding: 8px 12px;
    }
}