header {
    position: unset;
}

.updateAccount {
    min-height: 90vh;
    flex-wrap: wrap;
    background-position: center;
    background-size: cover;

}

.updateAccount h1 {
    color: rgb(117, 100, 89);
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    text-align: center;
    text-shadow: 7px 7px 9px rgba(83, 74, 74, 0.651);
}
.updateAccount .input_upload{
    height: 200px;
}

.updateAccount form .inputUpdate {
    padding: 16px 18px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.537);
    border-radius: 24px;
    font-size: 1.5em;
    margin-bottom: 12px;
}

.updateAccount form .update_btn {
    width: 50%;
    padding: 14px 18px;
    border-radius: 24px;
    border: none;
    margin: auto;
    background-color: rgb(117, 100, 89);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}

.password_btn {
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 14px 18px;
    border-radius: 24px;
    border: none;
    margin: 24px auto;
    background-color: rgb(117, 100, 89);
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}


@media(max-width:992px) {
    .updateAccount form .update_btn {
        padding: 8px 12px;
    }
}